@inject NavigationManager _navigationManager

<MudGrid Spacing="1" Style="padding-top: 20px;" Justify="Justify.Center">
    <a id="work"></a>
    <MudItem>
        <MudPaper Height="850px" Width="800px">
            <MudText Typo="Typo.h2" Color="Color.Primary" Align="Align.Center"
                Style="padding: 20px; font-family: 'TitleFont';">
                Work
            </MudText>
            <MudList T="string">
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/pop_chair_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Popsicle Stick Chair
                    </MudText>
                </MudListItem>
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/office_space_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Office Workspace Design
                    </MudText>
                </MudListItem>
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/ouro_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Ouroburos Wallpaper
                    </MudText>
                </MudListItem>
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/color_study_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Color Study Book
                    </MudText>
                </MudListItem>
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/finkbine_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Finkbine Clock Tower
                    </MudText>
                </MudListItem>
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/farns_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Farnsworth House Recreation
                    </MudText>
                </MudListItem>
                <MudListItem @onclick="@(() => NavigateToSelectedWork())">
                    <MudText Typo="Typo.h4" @onmouseover="@(() => UpdateImage("images/fixed/egg_chair_fixed.png"))"
                        Color="Color.Primary" Align="Align.Center" Style="padding: 20px; font-family: 'BodyFont';">
                        Arne Jacobsen Egg Chair
                    </MudText>
                </MudListItem>
            </MudList>
        </MudPaper>
    </MudItem>
    <MudItem>
        <MudPaper Height="850px" Width="1000px">
            <MudImage Src="@CurrentImageUrl" ObjectFit="ObjectFit.Contain" Alt="Dynamic Image" Fluid="true" />
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private string CurrentImageUrl = "images/fixed/pop_chair_fixed.png"; // Default image source
    private void UpdateImage(string imageUrl)
    {
        CurrentImageUrl = imageUrl;
    }

    private void NavigateToSelectedWork()
    {
        _navigationManager.NavigateTo("/SelectedWork", true);
    }
}